//fonts
$fontMinion: "MinionPro";
$fontProxima: "ProximaNova", "Tahoma", "Verdana", "Arial", sans-serif;

//colors
$colorFont: #242424;
$colorLink: #d64d61;
$colGr: #9b9b9b;
$colIs: #65ba65;
$colNot: #e75522;
$br: #cecece;
$propCl: #1a1a1a;

$bgBt: #b1b1b1;
$bgBt_h: #de7181;

$bgBt2: #b1b1b1;
$bgBt2_h: #c1c1c1;

$colorSand: #cea75f;
$colorSandH: #ad8c4f;
$colorSandA: #8f6e31;
$colorSandL: #e2ca9f;
$colorSandPopUp: #d7b87e;

$colorGreyLight: #f3f3f3;
$colorIconGrey: #919191;
$colorGreyText: #8a8a8a;
$colorGreyDark: #313131;

$colorGreyBrand: #d4d4d4;

//prop
$tr: all 0.3s;