.plitImage {
  width: 100%;
  max-width: 1000px;
  height: 700px;
  margin: 100px auto;
  font-size: 0;
  padding: 0;
  background-size: cover;
  min-height: 400px;
  position: relative; }
  .plitImage li {
    width: 25%;
    box-sizing: border-box;
    height: 25%;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: border 1s, border-radius 1s;
    background-origin: border-box;
    background: url(../img/1.jpeg) no-repeat;
    background: url(http://orig06.deviantart.net/0efb/f/2015/059/b/5/the_esteemed_palace_of_the_crane_chris_ostrowski_1_by_najtkriss-d8ju0zc.jpg) no-repeat;
    border: 1px solid #ffffff;
    background-clip: border-box; }
  .plitImage .z-ind {
    z-index: 10; }
  .plitImage.right li {
    border: 0 solid #ffffff;
    font-size: 10px;
    border-radius: 0; }
