
#viewport {
-webkit-perspective: 1200;
perspective: 1200;
padding-top: 70px;
/*-webkit-perspective-origin: 50% 20%;*/
/*-webkit-transform: scale(1,1);*/

}

#cube,
#cube-cube {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-top: 140px;
    margin-bottom:auto;
    height: 70px;
    width: 70px;
    /*-webkit-transition: -webkit-transform 150ms;*/
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0);
    transition: all 3s;
    pointer-events: none;
    transform-origin: 0 0 0 !important;
}

#imgCenter {
    transform-style: preserve-3d;
    height: 370px;
    width: 250px;
    transform: rotateX(0deg) rotateY(0deg) translateX(-140px) translateY(0px) translateZ(0px);
    background: url(../img/pers.png) no-repeat;
    background-position: center top !important;
    background-size: contain !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -160px;
    left: 0px;
    transition: all 3s;
}

#cube.active {
    -webkit-transform: rotateX(-20deg) rotateY(20deg);
    box-sizing: border-box;
    background-position: center top !important;
    background-size: cover !important;
}

#cube .cn-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    width: 200px;
    padding: 0px;
    background-color: rgba(50, 50, 50, 0.85);
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    border: 1px solid #555;
    -webkit-border-radius: 3px;
    box-sizing: border-box;
    text-align: right;
    padding: 5px;
    pointer-events: all;
    transform-origin: 0 0 0 !important;
}   


#cube a {
    display: block;
    width: 100%;
    height: 100%;
}

#cube .cn-img {
    perspective-origin: 0% 0%;
    -webkit-perspective-origin: 0% 0%;

    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    opacity: 0.9;
	background-position: center top !important;
	background-size: cover !important;
    transition: transform 8s, opacity 1s;
}

#cube:hover > div {
	opacity: 0.25;
}

#cube > div:hover {
    opacity: 1 !important;
}

#cube div span {
    display: inline-block;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#cube .center-line {
    height: 200px;
    width: 20px;
    background: red;
    transform: rotateX(0deg) rotateY(0deg) translateX(0px) translateY(-50px) translateZ(0px);
    -webkit-transform: rotateX(0deg) rotateY(0deg) translateX(0px) translateY(-50px) translateZ(0px);
}

#cube .cn-img.act-el {
    -webkit-transform: rotateX(8deg) rotateY(-19deg) translateX(-180px) translateY(-9px) translateZ(350px);
    opacity: 1;
    width: 400px;
    height: 350px;
}

.wr_img_sl {
	display: none;
}

